* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #5fc5fc;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
}

body img {
  user-select: none;
}

@media (min-width: 481px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

main {
  width: 700px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

@media (max-width: 480px) {
  main {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

.topPart {
  width: 100%;
  height: 120px;
  padding: 10px;
  padding-top: 35px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}

.cityDateContainer {
  flex: 33%;
}
.currentTempContainer {
  flex: 33%;
  user-select: none;
}
.searchContainer {
  flex: 33%;
}

.searchContainer {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 650px) {
  .topPart {
    height: 180px;
  }

  .cityDateContainer {
    flex: 50%;
  }
  .currentTempContainer {
    flex: 50%;
  }
  .searchContainer {
    flex: 100%;
    justify-content: center;
  }
}

@media (max-width: 420px) {
  .topPart {
    height: 250px;
  }

  .cityDateContainer {
    flex: 100%;
  }
  .currentTempContainer {
    flex: 100%;
  }
  .searchContainer {
    flex: 100%;
    justify-content: center;
  }
}

@media (max-width: 320px) {
  .topPart {
    height: 180px;
  }
}

.weatherUnits {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  user-select: none;
}

.unit {
  padding: 5px 20px;
  color: white;
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
  border: 2px solid white;
  border-top: none;
}

.unit:first-child {
  border-right: none;
  border-radius: 0 0 0 10px;
}

.unit:last-child {
  border-left: none;
  border-radius: 0 0 10px 0;
}

.unit.active {
  color: black;
  background-color: white;
}

@media (max-width: 420px) {
  .unit {
    padding: 5px 30px;
    font-size: 35px;
  }
}

@media (max-width: 320px) {
  .unit {
    padding: 5px 20px;
    font-size: 25px;
  }
}

.currentCity {
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 10px;
  text-align: center;
}

.dateOfCity {
  text-align: center;
  font-size: 18px;
}

@media (max-width: 480px) {
  .currentCity {
    font-size: 25px;
  }

  .dateOfCity {
    font-size: 16px;
  }
}

.currentTempContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.currentWeatherLogo {
  max-width: 50px;
  max-height: 50px;
}

.currentTemp {
  font-size: 70px;
  margin: -8px 0 0 5px;
}

@media (max-width: 420px) {
  .currentWeatherLogo {
    max-width: 30px;
    max-height: 30px;
  }

  .currentTemp {
    font-size: 50px;
  }
}

.searchArea {
  width: 150px;
  height: 25px;
  padding: 0 5px;
  color: white;
  background-color: #40b7f7;
  border: 1px solid white;
  border-radius: 4px;
  outline: none;
}

.searchArea::placeholder {
  color: white;
}

.findBtn {
  width: 25px;
  height: 25px;
  margin-left: 5px;
  padding: 0;
  background-color: inherit;
  border: none;
  cursor: pointer;
  outline: none;
}

.findBtn img {
  width: 25px;
  height: 25px;
}

.weekContainer {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  user-select: none;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.weekContainer .weeksDay {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding-bottom: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media (max-width: 480px) {
  .weekContainer .weeksDay {
    width: 40px;
    height: 40px;
    padding-bottom: 2px;
  }
}

.weekContainer .weeksDay:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.6);
}

.weekContainer .weeksDay.active {
  color: black;
  background-color: rgba(255, 255, 255, 0.6);
}

.detailedWeatherContainer {
  width: 100%;
  height: 320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 8%;
}

.leftPart,
.rightPart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leftPart img,
.rightPart img {
  width: 100px;
}

@media (max-width: 400px) {
  .detailedWeatherContainer {
    padding: 0 4%;
  }

  .leftPart img,
  .rightPart img {
    width: 80px;
  }
}

.wthTotalInfContainer {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.logoContainer {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #c5eafe;
  display: flex;
  justify-content: center;
  align-items: center;
}

.informationContainer {
  width: 100px;
  height: 130px;
  background-color: #c5eafe;
  position: relative;
  top: -20px;
  left: 25px;
  color: black;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.informationContainer::after {
  content: "";
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: #c5eafe;
  z-index: -1;
  border-radius: 0 0 50% 50%;
}

.information {
  position: absolute;
  top: 10px;
}

.typeOfWeather {
  font-size: 20px;
}

.weatherBox {
  width: 100px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  position: relative;
  left: 10px;
}

.weatherBoxIcon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #68caff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.weatherBox img {
  max-width: 23px;
  max-height: 23px;
}

.curTemperature,
.curTime {
  margin: 8px;
  font-size: 25px;
  font-weight: 500;
}

.weatherLogo {
  width: 80px;
}
